.body {
    background: #888 ;
}
.header-context {
    background-color: var(--white-color);
    padding: 40px 0;
}
.header-main h5 {
    font-size: 25px;
    color: var(--primary-color);
}
.navbar-list {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
}

.nav-product {
    color: rgba(0,0,0,.8);
    /* width: 46.27949%; */
    width: 52.27949%;
    font-size: 15px;
}
.nav-price, .nav-size, .nav-total, .nav-other {
    text-align: center;
    font-size: 15px;
}
.nav-price,
.product-price {
    width: 15.88022%;
}
.nav-size {
    width: 15.4265%;
}
.nav-total {
    width: 10.43557%;
}
.nav-other {
    width: 12.70417%;
}

.product-list {
    margin-top: 0;
    padding: 16px 0;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
}

.product__main {
    display: flex;
    align-items: center;
}

.product__main--check {
    padding: 0 12px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 58px;
    box-sizing: border-box;
}

.product__main--name {
    display: flex;
    width: 29.03811%;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    color: rgba(0,0,0,.87);
}

.product__main--type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17.24138%;
    color: rgba(0,0,0,.87);
}

.product__main--price {
    flex-direction: column;
    width: 15.88022%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,.87);
}

.product__main--size {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15.4265%;
    color: rgba(0,0,0,.87);
}

.product__main--total {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.43557%;
    color: #ee4d2d;
}

.product__main--other {
    width: 12.70417%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,.87);
}

.stardust-checkbox {
    font-family: -apple-system,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: default;
    position: relative;
    color: rgba(0,0,0,.54);
    max-width: 400px;
}

.stardust-checkbox__input {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.stardust-checkbox--checked>.stardust-checkbox__box {
    background: #ee4d2d;
    border-color: #ee4d2d;
}

.stardust-checkbox__box {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.14);
    text-align: center;
    box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
    margin-right: 8px;
}

.stardust-checkbox--checked>.stardust-checkbox__box:before {
    border-color: #fff;
}

.stardust-checkbox__box:before {
    position: absolute;
    content: "";
    height: 5px;
    width: 9px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    left: 3px;
    top: 3px;
}

.stardust-checkbox__box-all:hover {
    cursor: pointer;
}

.product__main--name-img {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.product__main--name-title {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 0 10px;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
}

.product__main--type-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    outline: none;
    flex: 1;
    color: rgba(0,0,0,.87);
}

.product__main--type-content {
    flex: 1;
    color: rgba(0,0,0,.54);
    display: flex;
    flex-direction: column;
    font-size: .875rem;
    margin-right: 10px;
}

.product__main--type-name {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-align: left;
    color: rgba(0,0,0,.54);
}

.product__main--type-name2 {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    margin-top: 5px;
}

.product__main--size-main {
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.87);
}

.product__main--size-minus,
.product__main--size-push {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}

.product__main--size-minus:first-child,
.product__main--size-push:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.product__main--size-minus .shopee-svg-icon,
.product__main--size-push .shopee-svg-icon  {
    font-size: 10px;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
}

.product__main--size-minus:hover,
.product__main--size-push:hover {
    background-color: rgb(238, 238, 238);
}

.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

.input-qty {
    background-color:#fff;
    height:2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}

.product__main--other-delete {
    cursor: pointer;
    background: none;
    border: 0;
}

.product__main--other-delete:hover {
    color: #ee4d2d !important;
}

.footer-product {
    display: grid;
    grid-template-columns: 1fr 20.3125rem 11.875rem;
    align-items: center;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    flex: 1;
    font-size: 1rem;
    position: relative;
    margin-top: 0.75rem;
}

.footer-product:before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    height: 1.25rem;
    width: 100%;
    background: linear-gradient(transparent,rgba(0,0,0,.06));
}

.footer-product__main {
    padding: 12px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 3;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

.footer-product__main--checkall {
    padding: 0 12px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 58px;
    box-sizing: border-box;
}

.footer-product__main--btn-checkall {
    cursor: pointer;
    background: 0;
    border: 0;
}

.footer-product__main--btn-delete {
    margin: 0 8px;
    background: 0;
    border: 0;
}

.footer-product__main--btn-delete:hover {
    color: #ee4d2d !important;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .footer-product {
        z-index: 2;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
    }
}

.fl-1 {
    flex: 1;
}

.footer-product__main-total {
    display: flex;
    flex-direction: column;
}

.footer-product__main-total-flex {
    display: flex;
    justify-content: flex-end;
}

.footer-product__main-total-content {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.footer-product__main-name {
    font-size: 16px;
    color: #222;
    line-height: 19px;
}

.footer-product__main-price {
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
    color: #ee4d2d;
}

.line {
    font-size: 14px;
    margin-top: 1px;
}

.footer-product__pay {
    cursor: pointer;
    padding: 13px 36px;
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    height: 2.5rem;
    box-sizing: border-box;
    font-size: .875rem;
    border-radius: 2px;
    width: 13.125rem;
    border: none;
    text-align: center;
}

.footer-product__pay:hover {
    background: #f05d40;
}

.btn-color-primary {
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
}

.footer-product__pay-text{
    width: 100%;
    line-height: 12px;
    color: #fff;
}

input.form-control.text-center.qty {
    width: 70px;
    align-items: center;
    text-align: center;
}

/* Main css */
.back-to-home {
    bottom: 68px;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 0;
    top: 0;
    position: relative;
    animation: modalFadeIn ease .4s;
}
.modal-header {
    background-color: #009688;
    border-bottom: none;
    border-radius: 3px;
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
  
    }
}
.header__cart-wrap::after {
    cursor: pointer;
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: -9px;
    border-width: 35px 30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

@media (max-width: 1023px) {
    .header__cart-list::after {
        border-color: transparent transparent transparent transparent;
    }
}

/* Main css */